
.app__signUp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-align: center;
    }
    form{
        max-width: 600px;
        margin-top: 2rem;

        label,input{
            display: block;
        }
        input{
            width: 100%;
            padding: 1rem;
            outline: none;
            border: 2px solid gainsboro;
            border-radius: 5px;
            margin: 0.3rem 0 1.5rem;
        }
        button{
            padding: 1rem 2rem;
            font-weight: 600;
            border-radius: 5px;
            outline: none;
            border: 0;
            cursor: pointer;
        }
    }
}